<!DOCTYPE html>
<html lang="en">
<head>
  <title>ChoreCalendar</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if devise_controller? %>
    <header class="title-area">
      <div class="container">
        <h1 class="white-text">
          Chore Calendar
        </h1>
      </div>
    </header>
    <main class="main-content">
      <div class="container">
        <% if notice.present? %>
          <p class="notice teal"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert deep-orange"><%= alert %></p>
        <% end %>
  <% end %>
  <%= yield %>
  <% if devise_controller? %>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <ul>
          <li>
            <%= link_to 'View Source', 'https://github.com/millidavids/chore-calendar', class: 'orange-text text-darken-4' %>
          </li>
        </ul>
      </div>
    </footer>
  <% end %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
